<h1>Login</h1>
<%= form_with method: "post", url: "/sessions" do |form| %>
<div class="login">
  <div class="form-login">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div class="form-login">
  <div class="pass-move-login">
    <%= form.label :password %>
    <%= form.password_field :password %>
    </div>
  </div>
  <div class="form-login">
    <%= form.submit "Submit" %>
  </div>
<% end%>
</div>
<h2>Don't Have an Account?</h2>
<button><a href="/signup">Signup</a></button>