<h1>All Games</h1>
<% @games.each do |game| %>
  <h2><%= game.title %></h2>
  <p>Console: <%= game.console %></p>
  <p>Released: <%= game.year %></p>
    <p>Price: <%= game.price %></p>
  <p>Series: <%= game.series.title %></p>

<% end %>