<button class="back"><a href= "/games">Back to all games</a></button>
<h1>New Game</h1>
<%= form_with model: @game do |form| %>
  <div class="form-game">
  <div class="title-move">
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%@game.errors.full_messages_for(:title).each do |message|%>
      <div><%= message %></div>
    <%end%>
  </div>
  <br>
  <div class="console-move">
    <%= form.label :console %>
    <%= form.text_field :console %>
    <%@game.errors.full_messages_for(:console).each do |message|%>
      <div><%= message %></div>
    <%end%>

  </div>
  <br>
  <div>
    <%= form.label :year %>
    <%= form.text_field :year %>
    <%@game.errors.full_messages_for(:year).each do |message|%>
      <div><%= message %></div>
    <%end%>

  </div>
  <br>
  <div class="price-move">
    <%= form.label :price %>
    <%= form.number_field :price %> 
    <%@game.errors.full_messages_for(:price).each do |message|%>
      <div><%= message %></div>
    <%end%>

  </div>
  <br>
  <div class="series-move">
    <%= form.label :series_id%>
    <%= form.select :series_id, options_for_select(Series.all.map {|s| s.title}) %>
    <%@game.errors.full_messages_for(:series_id).each do |message|%>
      <div><%= message %></div>
    <%end%>

  </div>
  <br>
  <div class="form-button">
    <%= form.submit %>
  </div>
  
<% end%>

</div>