<button class="back"><a href= "/series">Back to all series</a></button>

<h1>New Series</h1>
<%= form_with model: @series do |form| %>
  <div class="form-series">
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%@series.errors.full_messages_for(:title).each do |message|%>
      <div><%= message %></div>
    <%end%>
  </div>
  
<br>
  <div class="form-button">
    <%= form.submit %>
  </div>
<% end%>
</div>

